
.container-slider1, .container-slider1 span{
    color: #999d9c;
    font-size: 20px;
    text-align: center;
}

.slider_title{
    text-align: center;
}

.price{
    font-weight: 900;
    margin: 6px;
    color: #100e0e;
}

.slider1-img{
    height: 300px;
}

/*Arrow*/
.arrow {
    display: flex;
    font-size: 35px;
    position: relative;
    justify-content: flex-end;
    top: 200px;
    z-index: 100;
}





